body {
    background: url(tyu.jpg);
    color: rgb(0, 0, 0);
    font-family: 'Arial', Times, serif;
    font-weight: bold;
}

td {
    font-weight: bold;
}

table {
    border-radius: 10px;
}

